<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title </title>
    <meta name="spm-id" content="a21cy">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <!-- header block start -->
    @Styles.Render("~/bundles/sitecss")
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/sitecommon")


    <style>
        body {
            width: 100% !important;
            max-width: 100% !important;
        }
    </style>
    <!-- header block end -->
    <style>
        body {
            background-color: #000;
            background-image: none;
            background-repeat: repeat;
            background-position: 0 0;
        }
    </style>

</head>
<body>
    <!-- body start -->
    <div class=" page-layout page-main-content" data-page-id="140459">
        <!-- container -->
        <div class="layout layout-grid-0">
            <!--row -->
            <div class="grid-0">
                <!-- col -->
                <div class="col col-main">
                    <div class="main-wrap J_Region">
                        <!-- region -->
                        <div class="J_Region_Container" data-region-path="/markets/aliyun/yunqi_topic/hztopbar_index-pc" data-region-id="159684" data-guid="831223">
                            <!-- exported styles -->=
                            <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
                            <!--region -->
                            <div id="header" class="wb-zc-aliyun-xfmod-yunqi-topbar J_Module">
                                <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap dbl-col-md-24" style="background-color: #010417;background: rgba(0,0,0,0.9);">

                                    <div class="wrapper">
                                        <a href="/home/index.html" class="yq-logo">
                                            <img src="/static/images/logo_01.png">
                                        </a>
                                        <div class="yq-channel">
                                            <ul class="channel-list">
                                                
                                                <li class="channel-item selected">
                                                    <a data-app-ignore="true" href="/home/index" class="channel-link" style="color: #fff;">首页</a>
                                                </li>
                                                <li class="channel-item">
                                                    <a data-app-ignore="true" href="/site/meeting" class="channel-link" style="color: #fff;">议程</a>
                                                </li>
                                                <li class="channel-item">
                                                    <a data-app-ignore="true" href="/site/ceremony" class="channel-link" style="color: #fff;">颁奖典礼</a>
                                                </li>
                                                <li class="channel-item">
                                                    <a data-app-ignore="true" href="/site/partner" class="channel-link" style="color: #fff;">合作伙伴</a>
                                                </li>
                                                <li class="channel-item">
                                                    <a data-app-ignore="true" href="/site/review" class="channel-link" style="color: #fff;">往届回顾</a>
                                                </li>
                                                <li class="channel-item pc">
                                                    <a data-app-ignore="true" href="/site/contact-us" class="channel-link" style="color: #fff;">联系我们</a>
                                                </li>
                                                <li class="slug" style="border-color: #fff;"></li>
                                            </ul>
                                        </div>
                                        <div class="yq-right PC">
                                            <a href="" class="button ">
                                                <figure>
                                                    <div>
                                                        <span class="face" style="background-color: ;color: #fff;border: 2px solid #33ace6">ENGLISH</span>
                                                        <span class="face" style="background-color: #33ace6;color: #fff;border: 2px solid #33ace6">ENGLISH</span>
                                                    </div>
                                                </figure>
                                            </a>
                                            <a href="" class="button ">
                                                <figure>
                                                    <div>
                                                        <span class="face" style="background-color: ;color: #fff;border: 2px solid #fe3f3c">我的票务</span>
                                                        <span class="face" style="background-color: #fe3f3c;color: #fff;border: 2px solid #fe3f3c">我的票务</span>
                                                    </div>
                                                </figure>
                                            </a>

                                            <a href="ticket.html" class="button ">
                                                <figure>
                                                    <div>
                                                        <span class="face" style="background-color: ;color: #fff;border: 2px solid #fe3f3c">立即抢票</span>
                                                        <span class="face" style="background-color: #fe3f3c;color: #fff;border: 2px solid #fe3f3c">立即抢票</span>
                                                    </div>
                                                </figure>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="inner">
                                        <a href="index.html" class="logo">
                                            <img src="/static/images/logo_01.png">
                                        </a>
                                        <div class="sign">
                                            <a href="ticket.html" target="_self" style="background-color: #fe3f3c;color: #fff;">立即抢票</a>
                                            <img class="open" src="/static/images/iconlei.png">
                                        </div>
                                        <div class="main">
                                            <span class="close"></span>
                                            <ul class="nav">
                                                <li>
                                                    <a href="index.html" target="_blank" class="page">首页</a>
                                                </li>
                                                <li>
                                                    <a href="meeting.html" target="_blank" class="page">议程</a>

                                                </li>

                                                <li>
                                                    <a href="ceremony.html" target="_blank" class="page">颁奖典礼</a>

                                                </li>

                                                <li>
                                                    <a href="partner.html" target="_blank" class="page">合作伙伴</a>
                                                </li>
                                                <li>
                                                    <a href="review.html" target="_blank" class="page">往届回顾</a>
                                                </li>
                                                <li>
                                                    <a href="contact-us.html" target="_blank" class="page pc">联系我们</a>
                                                </li>
                                            </ul>
                                            <div class="btns">

                                                <a href="#" target="_self" style="display: none;">ENGLISH</a>
                                                <a href="#" target="_self">我的票务</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 

                        </div> 

                    </div>

                </div>
                <!--col -->

            </div>
            <!-- row -->
        </div>
        <!-- container -->

    </div>

    @RenderBody()

    @*<footer>
        <p class="text-center">
            <small>Copyright &copy; @DateTime.Now.Year - <a href="#" target="_blank">MS2017</a> All Rights Reserved</small>
        </p>
    </footer>*@
    <script>
        if (!isMobile) {
            window.onresize = function () {
                if (window.innerWidth < 768) {
                    window.isMobile = true;
                } else {
                    window.isMobile = false;
                }
            }
        }
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
