 
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    @Styles.Render("~/bundles/css") 
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/common")
</head>

<body>
    <div id="loading_mask" class="loading" style="display: none;"><i class="fa fa-4x fa-spinner fa-spin"></i></div>
    <header class="navbar navbar-inverse  navbar-fixed-top" role="banner">
 
    </header>    
     
    <div class="content ">
        <div id="pad-wrapper">           
             @RenderBody()
        </div>
    </div>

    <hr>
    <footer>
        <p class="text-center">
            <small>Copyright © 2015 - <a href="#" target="_blank">Z</a> All Rights Reserved</small>
        </p>
    </footer>

    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Content/js/theme.js"></script>
    <script src="/Scripts/respond.min.js"></script>

</body>
</html>
